._.DS_Store
.DS_Store
*.code-workspace
*.o
# macOS related artefacts
bin/cbsdsftp
bin/cbsdsftp6
bin/cbsdsh/.depend
bin/cbsdsh/*.pieo
bin/cbsdsh/builtins.c
bin/cbsdsh/builtins.h
bin/cbsdsh/cbsd
bin/cbsdsh/cbsd.debug
bin/cbsdsh/cbsd.full
bin/cbsdsh/config.h
bin/cbsdsh/config.h.in
bin/cbsdsh/config.h.in~
bin/cbsdsh/config.log
bin/cbsdsh/config.status
bin/cbsdsh/configure
bin/cbsdsh/configure~
bin/cbsdsh/Makefile
bin/cbsdsh/mknodes
bin/cbsdsh/mksyntax
bin/cbsdsh/nodes.c
bin/cbsdsh/nodes.h
bin/cbsdsh/src/.deps/builtins.Po
bin/cbsdsh/src/.deps/init.Po
bin/cbsdsh/src/.deps/nodes.Po
bin/cbsdsh/src/.deps/signames.Po
bin/cbsdsh/src/.deps/syntax.Po
bin/cbsdsh/src/builtins.c
bin/cbsdsh/src/init.c
bin/cbsdsh/src/nodes.c
bin/cbsdsh/src/signames.c
bin/cbsdsh/src/syntax.c
bin/cbsdsh/stamp-h1
bin/cbsdsh/syntax.c
bin/cbsdsh/syntax.h
bin/cbsdsh/token.h
bin/cbsdssh
bin/cbsdssh6
bin/cfetch
etc/defaults/vm-windows-cloud-Windows2016.conf
etc/defaults/vm-windows-cloud-Windows2019.conf
misc/cbsd_dot
misc/cbsd_fwatch
misc/cbsd_md5
misc/cbsdlogtail
misc/cbsdtee
misc/chk_arp_byip
misc/conv2human
misc/daemon
misc/daemonize
misc/dump_cpu_topology
misc/dump_iscsi_discovery
misc/efivar
misc/elf_tables
misc/exec_jail
misc/fmagic
misc/getch
misc/getshell
misc/ipv6range
misc/jail_env
misc/jexec_env
misc/merge
misc/mountpoint
misc/next-vale-port
misc/pexec
misc/popcnttest
misc/pwcrypt
misc/resolv
misc/sipcalc
misc/sqlcli
misc/src/cbsd_md5/cbsd_md5
misc/src/sipcalc/sipcalc
misc/x86-cpu-cap
modules/cbsd_queue.d/cbsd-plugin-wsqueue
modules/forms.d/dnsmasq/
modules/forms.d/dsk/
modules/forms.d/perfdb/
modules/nas.d/
sbin/netmask
tools/bridge
tools/imghelper
tools/nic_info
tools/racct-bhyve-statsd
tools/racct-hoster-statsd
tools/racct-jail-statsd
tools/select_jail
tools/vale-ctl
vm-linux-cloud-kubernetes-18.conf
