bin/cbsdsftp
bin/cbsdsftp6
bin/cbsdssh
bin/cbsdssh6
bin/cfetch
misc/cbsd_dot
misc/cbsd_fwatch
misc/cbsd_md5
misc/cbsdlogtail
misc/cbsdtee
misc/chk_arp_byip
misc/conv2human
misc/daemon
misc/daemonize
misc/dump_cpu_topology
misc/dump_iscsi_discovery
misc/efivar
misc/elf_tables
misc/fmagic
misc/popcnttest
misc/pwcrypt
misc/resolv
misc/sqlcli
misc/ipv6range
misc/sipcalc
misc/next-vale-port
sbin/netmask
tools/bridge
tools/imghelper
tools/nic_info
tools/racct-bhyve-statsd
tools/racct-hoster-statsd
tools/racct-jail-statsd
tools/select_jail
tools/vale-ctl
*.o
modules/cbsd_queue.d/cbsd-plugin-wsqueue
etc/defaults/vm-windows-cloud-Windows2016.conf
etc/defaults/vm-windows-cloud-Windows2019.conf
vm-linux-cloud-kubernetes-18.conf
bin/cbsdsh/.depend
bin/cbsdsh/builtins.c
bin/cbsdsh/builtins.h
bin/cbsdsh/cbsd
bin/cbsdsh/cbsd.debug
bin/cbsdsh/cbsd.full
bin/cbsdsh/mknodes
bin/cbsdsh/mksyntax
bin/cbsdsh/nodes.c
bin/cbsdsh/nodes.h
bin/cbsdsh/syntax.c
bin/cbsdsh/syntax.h
bin/cbsdsh/token.h

# macOS related artefacts
.DS_Store
._.DS_Store
