
/* buttons */

table.advancedsettings tr td input
{
font-size:85%;
}

/* diskname */

td.power_diskname
{
font-weight:bold;
}


/* spinning */

td.power_spinning
{
color:darkgreen;
}

td.power_spindown
{
color:grey;
}

