
/* disk list */

td.network_sector_normal
{
color:grey;
}

/* display all disks */

tr.displayalldisks
{
line-height:85%;
}

tr.displayalldisks th
{
padding:2px 4px !important;
}

tr.displayalldisks th a, tr.displayalldisks th a:visited
{
color:#eee;
font-size:85%;
text-decoration:none;
}

tr.displayalldisks th a:hover
{
color:#fff;
text-decoration:underline;
}

