
/* diskname */

td.smart_diskname
{
font-weight:bold;
}


/* status */

td.smart_status_healthy
{
color:darkgreen;
}

td.smart_status_inthepast
{
color:blue;
}

td.smart_status_warning
{
color:#f40;
}

td.smart_status_failed
{
color:red;
}

td.smart_status_incapable
{
color:grey;
}



/* temperature */

td.smart_temp_cool, td.smart_temp_warm, td.smart_temp_hot
{
color:#444;
}

td.smart_temp_cool b
{
color:#090;
}

td.smart_temp_warm b
{ 
color:#f40;
}

td.smart_temp_hot b
{
color:#f00;
}

td.smart_temp_nosensor
{
color:grey;
}

td.smart_temp_nosensor span.smart_temp_deg
{
display:none;
visibility:hidden;
}

span.smart_temp_deg
{
}

span.smart_temp_bullet
{
color:grey;
}

/* power cycles */

td.smart_powercycles_low
{
}

td.smart_powercycles_high
{
color:red;
}

/* load cycles */

td.smart_loadcycles_low
{
}

td.smart_loadcycles_high
{
color:red;
}


/* cable errors */

td.smart_cableerrors_none
{
color:grey;
}

td.smart_cableerrors_low
{
font-weight:bold;
}

td.smart_cableerrors_high
{
color:red;
font-weight:bold;
}


/* bad sectors */

td.smart_badsectors_none
{
color:grey;
}

td.smart_badsectors_passive
{
}

td.smart_badsectors_passive span.smart_badsectors_passive
{
color:black;
}

td.smart_badsectors_pending
{
color:red;
font-weight:bold;
}

td.smart_badsectors_pending span.smart_badsectors_active
{
color:red;
font-weight:bold;
}

td.smart_badsectors_incapable
{
}

td.smart_badsectors_incapable span
{
display:none;
visibility:hidden;
}

span.smart_badsectors_active
{
color:grey;
}

span.smart_badsectors_passive
{
color:grey;
}



/* lifetime */

td.smart_lifetime_normal
{
}

td.smart_lifetime_old
{
color:red;
}

/* smart scan button box */

div.smartscanbuttonbox
{
background:#ddd;
padding:4px;
text-align:center;
border-top:2px solid #666;
border-bottom:2px solid #666;
margin-bottom:10px;
}

div.smartscanbuttonbox input
{
color:#262;
font-weight:bold;
}

/* query disk */

b.smqd
{
color:#444;
}

/* smart advice text box */

p.smartadvice_red
{
border:2px solid #802;
padding:8px;
color:#400;
background:#edd;
background-image: -moz-linear-gradient(100% 100% 90deg, #b99, #edd);
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#edd), to(#b99));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eedddd', endColorstr='#bb9999');
}

p.smartadvice_red span
{
color:#d02;
font-weight:bold;
}

p.smartadvice_amber
{
border:2px solid #880;
padding:8px;
color:#420;
background:#ed9;
background-image: -moz-linear-gradient(100% 100% 90deg, #cb7, #fea);
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fea), to(#cb7));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeaa', endColorstr='#ccbb77');
}

p.smartadvice_amber span
{
color:#d41;
color:#e20;
font-weight:bold;
}

div.smartadvice_green
{
border:2px solid #696;
margin:10px 0;
padding:8px;
color:#020;
background:#ded;
background-image: -moz-linear-gradient(100% 100% 90deg, #bdb, #efe);
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#efe), to(#bdb));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeffee', endColorstr='#bbddbb');
}

div.smartadvice_green img
{
margin-right:8px;
}

