
/* GENERIC */

html
{
background:#efefef;
margin:0;
padding:0;
}

body
{
font-family:sans-serif;
font-size:0.8em;
margin:0;
padding:0;
background:#efefef;
}

h1
{
margin-top:0;
padding:0;
color:#444;
font-size:1.3em;
}

h2
{
margin-top:0;
padding:0;
color:#888;
font-size:1.2em;
}

h2 a, h2 a:visited
{
color:#444;
text-decoration:none;
}

h2 a:hover
{
text-decoration:underline;
}

p
{
font-size:90%;
}

pre
{
font-size:120%;
}

acronym:hover
{
cursor:help;
}

.center
{
text-align:center !important;
}

.left
{
text-align:left;
}

.right
{
text-align:right;
}

.vtop
{
vertical-align:top;
}

.bold
{
font-weight:bold;
}

/* ID */

#main
{
width:1000px;
text-align:center;
margin:0 auto;
}

#top
{
margin:5px 0 0 0;
color:#fff;
background:#159;
background-image:url(bluebg.png);
border:1px solid #229;
text-align:left;
padding:2px 0 2px 8px;
}

#logoimg
{
height:18px;
margin:2px 2px 0 6px;
vertical-align:middle;
}

#logotitle
{
color:#2df;
letter-spacing:2px;
font-style:italic;
font-weight:bold;
margin-top:1px;
}

#logotxt
{
color:#fff;
letter-spacing:1px;
font-style:italic;
font-weight:bold;
margin-top:1px;
}

#logoright
{
font-size:100%;
color:#eee;
float:right;
margin-right:10px;
margin-top:1px;
}

#logoright a, #logoright a:visited
{
color:#ddd;
text-decoration:none;
}

#logoright a:hover
{
color:#fff;
text-decoration:underline;
}

#menu
{
display:block;
clear:both;
text-align:left;
margin:10px 0;
}

#menu ul
{
padding:0;
margin:0;
}

#menu ul li
{
display:inline;
}

#menu ul li a, #menu ul li a:visited
{
color:#222;
background:#bbb;
font-size:120%;
font-variant:small-caps;
text-transform:lowercase;
letter-spacing:2px;
padding:4px 10px;
margin-right:10px;
text-decoration:none;
font-weight:bold;
border:1px solid #000;
}

#menu ul li a:hover
{
color:#fff !important;
background:#666;
}

#menu ul li a.menu-active
{
color:#fff;
background:#99d;
background-image:url(bluebg.png);
}

#navtabs
{
display:block;
position:relative;
text-align:left;
border-bottom:1px solid #bbb;
padding-bottom:0.35em;
margin-top:1.6em;
}

#navtabs div
{
display:none;
width:20px;
height:20px;
background:#f00;
border-bottom:1px solid #00f !important;
}

#navtabs a.navtab-active
{
background:#fff !important;
border-bottom:1px solid #fff !important;
font-weight:bold;
}

#navtabs a, #navtabs a:visited
{
display:inline;
position:relative;
color:#444;
text-decoration:none;
margin-left:5px;
margin-right:10px;
padding:5px;
background:#ddd;
border:1px solid #bbb;
font-size:90%;
}

#navtabs a:hover
{
text-decoration:underline;
}

#content
{
clear:both;
text-align:left;
background:#fefefe;
border-left:1px solid #bbb;
border-right:1px solid #bbb;
border-bottom:1px solid #bbb;
padding:25px 25px 25px 25px;
margin:0 0 20px 0;
}


/* CLASS */

a.step, a.step:visited
{
color:#666;
text-decoration:none;
font-size:120%;
font-weight:bold;
display:block;
clear:both;
margin-bottom:10px;
}

a.step:hover
{
text-decoration:underline;
}

a.activestep
{
color:#a22 !important;
}

a.tablelink, a.tablelink:visited
{
font-size:90%;
text-align:center;
margin:0 auto;
}

table.widetable
{
width:100%;
border-spacing:1px;
}

table.widetable tr
{
}

table.widetable tr th
{
background:#aaa;
padding:4px;
text-align:left;
}

table.widetable tr td
{
background:#eee;
padding:4px;
}

table.widetable tr td a, table.widetable tr td a:visited
{
color:#00b;
text-decoration:none;
}

table.widetable tr td a:hover
{
text-decoration:underline;
}

tr.activerow td
{
background:#ddf !important;
}

td.activecell
{
background:#bbf !important;
}

td.dark
{
background:#e1e1e1 !important;
}

td.high
{
font-weight:bold;
background:#ddf !important;
}

pre.command_box
{
background:#eef;
padding:10px;
border:1px solid #ccc;
margin:0px 0 10px 0;
}

/* feedback */

div.feedback_a_error
{
border:1px dotted #f00;
background:#fee;
padding:10px;
margin-bottom:20px;
}

div.feedback_a_error:before
{
font-weight:bold;
content:attr(title) ": ";
}

div.feedback_a_failure
{
border:1px dotted #f00;
background:#fee;
padding:10px;
margin-bottom:20px;
}

div.feedback_a_failure:before
{
font-weight:bold;
content:attr(title) ": ";
}

div.feedback_a_warning
{
border:1px dotted #f90;
background:#fed;
padding:10px;
margin-bottom:20px;
}

div.feedback_a_warning:before
{
font-weight:bold;
content:attr(title) ": ";
}

div.feedback_b_success
{
border:1px dotted #0f0;
background:#dfe;
padding:10px;
margin-bottom:20px;
}

div.feedback_b_success:before
{
font-weight:bold;
content:attr(title) ": ";
}

div.feedback_c_notice
{
border:1px dotted #00f;
background:#eef;
padding:10px;
margin-bottom:20px;
}

div.feedback_c_notice:before
{
font-weight:bold;
content:attr(title) ": ";
}

div.network-execute-bar
{
width:100%;
text-align:center;
margin:10px auto;
background:#eee;
}

div.zfspropertyleft
{
width:50%;
line-height:20px;
}

div.zfspropertyright
{
width:50%;
line-height:20px;
float:right;
}

div.fsbuttonbox
{
clear:both;
text-align:center;
padding-top:5px;
}

div.fsbuttonbox table
{
border:1px solid #aaa;
}

/* input / forms */

input.yellow, select.yellow, textarea.yellow
{
background:#ffd;
border:1px solid #666;
}

input.slim
{
color:#555;
background:#ffd;
border:1px solid #aaa;
}

input.txt
{
width:60%;
}

textarea.config_box
{
width:100%;
height:250px;
}

/* tab bar */

p.tabbar
{
padding-bottom:10px;
}

p.tabbar a, p.tabbar a:visited, p.tabbar a:link
{
color:#000;
background:#eee;
border:1px solid #aaa;
padding:4px;
text-decoration:none;
}

p.tabbar a:hover
{
text-decoration:underline;
}

p.tabbar a.activebar, p.tabbar a.activebar:visited
{
color:#b00;
}

/* text formatting */

p.command_box
{
font-weight:bold;
margin-top:20px;
}

p.yellow_box
{
background:#ffe;
padding:4px 10px;
border:1px solid #aaa;
}

span.warning
{
font-weight:bold;
color:#d00;
}

span.date
{
font-weight:bold;
font-size:85%;
color:#666;
}

span.diskdisabled
{
text-decoration:line-through;
}

span.diskinuse
{
margin-left:20px;
font-style:italic;
}

span.service_running
{
font-weight:bold;
color:green;
}

span.service_stopped
{
font-weight:bold;
color:red;
}

span.minortext
{
font-size:85%;
color:#666;
}

.hidden
{
display:none !important;
}

.red
{
color:red;
}

.green
{
color:green;
}

.blue
{
color:blue;
}

.white
{
color:#fff;
}

.black
{
color:#000;
}

.grey
{
color:grey;
}

.transparent
{
color:transparent;
}

.transparentbg
{
background:transparent;
}

.bold
{
font-weight:bold;
}

.italic
{
font-style:italic;
}

.underline
{
text-decoration:underline;
}

tr.failurerow td
{
background:#f99 !important;
}

img.noborder
{
border:0;
}

table.flattable
{
border-collapse:collapse;
}

table.flattable tr td
{
padding:0;
}

/* navibox */

div.navibox
{
margin:10px 1px;
padding:10px;
color:#444;
font-weight:bold;
font-size:90%;
background:#eee;
background-image: -moz-linear-gradient(100% 100% 90deg, #aaa, #eee);
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#aaa));
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
}

div.navibox span
{
color:grey;
}

div.navibox a, div.navibox a:link, div.navibox a:visited
{
color:#22d;
text-decoration:none;
font-weight:normal;
font-size:125%;
padding:0 4px;
}

div.navibox a:hover
{
color:#222;
}
