
/* filesystems table */

tr.filesystem_root td
{
background:#ddd !important;
}

tr.filesystem_system td
{
background:#fdd !important;
}

tr.filesystem_selected td
{
background:#ddf !important;
}

table.filesystems tr:hover td
{
background:#ddd !important;
}


/* hide system filesystems row */

tr.hidegurufs
{
line-height:85%;
}

tr.hidegurufs th
{
background:#444 !important;
}

tr.hidegurufs th a, tr.hidegurufs th a:visited
{
color:#eee;
font-size:85%;
text-decoration:none;
}

tr.hidegurufs th a:hover
{
color:#fff;
text-decoration:underline;
}

