body { background-color: black; color: yellow; }

table#results { width: 100%; border: 1px solid #666666; }
table#results tr td { border-right: 1px solid #666666; border-top: 1px solid #666666; }
table#results tr th { border-right: 1px solid #666666; }

table#results .head  { background-color: #222222; }
table#results .red   { background-color: #220000; }
table#results .green { background-color: #002200; }
table#results .silver { background-color: #111111; }
