SyslogFacility LOCAL3
Protocol 2
UseDNS no
Subsystem sftp /usr/libexec/sftp-server
ChallengeResponseAuthentication no
Port 22222
PermitRootLogin yes
AllowTcpForwarding no
PasswordAuthentication yes
PubkeyAuthentication yes

