
/* pools table */

table.pools tr:hover td
{
background:#ddd !important;
}

tr.pool_faulted td
{
background:#faa !important;
}

tr.pool_degraded td
{
background:#ffe1e1 !important;
}

td.pool_online
{
color:#080;
font-weight:bold;
}

td.pool_faulted
{
color:#f00;
font-weight:bold;
}

td.pool_degraded
{
color:#f50;
font-weight:bold;
}

/* pool details */

td.status_online
{
color:#080;
font-weight:bold;
}

td.status_faulted
{
color:#f00;
font-weight:bold;
}

td.status_degraded
{
color:#f50;
font-weight:bold;
}

