
/* GENERIC */

html
{
margin:0;
padding:0;
min-height:100%;
}

body
{
margin:0;
padding:0;
font-family:sans-serif;
font-size:0.8em;
min-height:100%;
background:#555;
background-image: -moz-linear-gradient(100% 100% 90deg, #555, #888);
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#888), to(#555));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#555555');
}

a, a:visited
{
color:#00c;
text-decoration:none;
}

a:hover
{
color:#00f;
text-decoration:underline;
}

h1
{
margin-top:0;
padding:0;
color:#444;
font-size:1.3em;
}

h2
{
margin-top:0;
padding:0;
color:#888;
font-size:1.2em;
}

h2 a, h2 a:visited
{
color:#444;
text-decoration:none;
}

h2 a:hover
{
text-decoration:underline;
}

p
{
font-size:90%;
}

pre
{
font-size:120%;
}

acronym:hover
{
cursor:help;
}

.center
{
text-align:center !important;
}

.left
{
text-align:left;
}

.right
{
text-align:right;
}

.vtop
{
vertical-align:top;
}

.bold
{
font-weight:bold;
}

/* ID */

#main
{
width:1000px;
text-align:center;
margin:0 auto;
}

#top
{
color:#444;
background:#fff;
text-align:left;
margin:1em 0 0 0;
padding:5px 0 1px 0;
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
background-image: -moz-linear-gradient(100% 100% 90deg, #aaa, #fff);
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#aaa));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#aaaaaa');
}

#logotitle
{
padding:0 30px;
letter-spacing:2px;
font-weight:bold;
font-size:230%;
text-decoration:none;
text-shadow:0px -1px 1px rgba(0,0,0,1.5);
}

#logotitle:hover
{
color:#666;
text-decoration:underline;
}

#logotitle-left
{
color:#444;
letter-spacing:2px;
}

#logotitle-right
{
color:#fff;
font-style:italic;
}

#logoright
{
font-size:90%;
color:#666;
float:right;
margin:8px 10px 0 0;
}

#logoright a, #logoright a:visited
{
color:#444;
text-decoration:none;
}

#logoright a:hover
{
text-decoration:underline;
}

#menu
{
display:block;
clear:both;
min-height:15px;
margin-top:0px;
text-align:left;
box-sizing:border-box;
border-bottom:1px solid #666;
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
}

div.menu-spacer
{
margin:0px 0 0px 20px;
letter-spacing:2px;
}

#menu a, #menu a:visited
{
display:table-cell;
padding:2px 8px;
color:#222;
text-decoration:none;
text-transform:lowercase;
font-variant:small-caps;
font-size:110%;
}

#menu a:hover
{
color:#000 !important;
text-shadow:1px 1px 1px #000 !important;
}

#menu a.menu-active, #menu a.menu-active:visited
{
color:#a00;
text-shadow:1px 1px 1px #f00;
}

#menu a.menu-active:hover
{
}

/* navtabs */

#navtabs
{
display:block;
position:relative;
top:1px;
text-align:left;
margin-top:1em;
padding-left:6px;
}

#navtabs div
{
display:table-cell;
width:5px;
}

#navtabs a.navtab-active
{
background:#fff !important;
border:1px solid #ddd !important;
border-bottom:1px solid #fff !important;
font-weight:bold;
}

#navtabs a, #navtabs a:visited
{
display:table-cell;
color:#444;
text-decoration:none;
margin-left:5px;
margin-right:10px;
padding:5px 8px;
background:#ccc;
border:1px solid #ddd;
border-radius:10px 10px 0 0;
-moz-border-radius:10px 10px 0 0;
-webkit-border-radius:10px 10px 0 0;
font-size:90%;
}

#navtabs a:hover
{
background:#fff !important;
border-bottom:1px solid #fff !important;
text-decoration:underline;
}

#content
{
clear:both;
text-align:left;
background:#fefefe;
background-image: -moz-linear-gradient(100% 100% 90deg, #eee, #fff);
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#eee));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee');
border-top:1px solid #ddd;
border-left:1px solid #aaa;
border-right:1px solid #666;
border-bottom:1px solid #666;
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
padding:25px 25px 25px 25px;
margin:0 0 20px 0;
}


/* CLASS */

a.step, a.step:visited
{
color:#666;
text-decoration:none;
font-size:120%;
font-weight:bold;
display:block;
clear:both;
margin-bottom:10px;
}

a.step:hover
{
text-decoration:underline;
}

a.activestep
{
color:#a22 !important;
}

a.tablelink, a.tablelink:visited
{
font-size:90%;
text-align:center;
margin:0 auto;
}

table.widetable
{
width:100%;
border-spacing:1px;
}

table.widetable tr
{
}

table.widetable tr th
{
background:#aaa;
padding:4px;
text-align:left;
}

table.widetable tr td
{
background:#eee;
padding:4px;
}

table.widetable tr td a, table.widetable tr td a:visited
{
color:#00b;
text-decoration:none;
}

table.widetable tr td a:hover
{
text-decoration:underline;
}

tr.activerow td
{
background:#ddf !important;
}

td.activecell
{
background:#bbf !important;
}

td.dark
{
background:#e1e1e1 !important;
}

td.high
{
font-weight:bold;
background:#ddf !important;
}

pre.command_box
{
background:#eef;
padding:10px;
border:1px solid #ccc;
margin:0px 0 10px 0;
}

/* feedback */

div.feedback_a_error
{
border:1px solid #966;
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
background:#fee;
background-image: -moz-linear-gradient(100% 100% 90deg, #d99, #fee);
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fee), to(#d99));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeee', endColorstr='#dd9999');
padding:10px;
margin-bottom:20px;
}

div.feedback_a_error:before
{
font-weight:bold;
content:attr(title) ": ";
}

div.feedback_a_failure
{
border:1px solid #966;
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
background:#fee;
background-image: -moz-linear-gradient(100% 100% 90deg, #d99, #fee);
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fee), to(#d99));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeee', endColorstr='#dd9999');
padding:10px;
margin-bottom:20px;
}

div.feedback_a_failure:before
{
font-weight:bold;
content:attr(title) ": ";
}

div.feedback_a_warning
{
border:1px solid #986;
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
background:#ffe;
background-image: -moz-linear-gradient(100% 100% 90deg, #dc9, #fee);
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fee), to(#dc9));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeee', endColorstr='#ddcc99');
padding:10px;
margin-bottom:20px;
}

div.feedback_a_warning:before
{
font-weight:bold;
content:attr(title) ": ";
}

div.feedback_b_success
{
border:1px solid #696;
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
background:#efe;
background-image: -moz-linear-gradient(100% 100% 90deg, #9d9, #efe);
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#efe), to(#9d9));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeffee', endColorstr='#99dd99');
padding:10px;
margin-bottom:20px;
}

div.feedback_b_success:before
{
font-weight:bold;
content:attr(title) ": ";
}

div.feedback_c_notice
{
border:1px solid #669;
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
background:#eef;
background-image: -moz-linear-gradient(100% 100% 90deg, #99d, #eef);
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eef), to(#99d));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeff', endColorstr='#9999dd');
padding:10px;
margin-bottom:20px;
}

div.feedback_c_notice:before
{
font-weight:bold;
content:attr(title) ": ";
}

div.network-execute-bar
{
width:100%;
text-align:center;
margin:10px auto;
background:#eee;
}

div.zfspropertyleft
{
width:50%;
line-height:20px;
}

div.zfspropertyright
{
width:50%;
line-height:20px;
float:right;
}

div.fsbuttonbox
{
clear:both;
text-align:center;
padding-top:5px;
}

div.fsbuttonbox table
{
border:1px solid #aaa;
}

/* input / forms */

input.yellow, select.yellow, textarea.yellow
{
background:#ffd;
border:1px solid #666;
}

input.slim
{
color:#555;
background:#ffd;
border:1px solid #aaa;
}

input.txt
{
width:60%;
}

textarea.config_box
{
width:100%;
height:250px;
}

/* tab bar */

p.tabbar
{
padding-bottom:10px;
}

p.tabbar a, p.tabbar a:visited, p.tabbar a:link
{
color:#000;
background:#eee;
border:1px solid #aaa;
padding:4px;
text-decoration:none;
}

p.tabbar a:hover
{
text-decoration:underline;
}

p.tabbar a.activebar, p.tabbar a.activebar:visited
{
color:#b00;
}

/* text formatting */

p.command_box
{
font-weight:bold;
margin-top:20px;
}

p.yellow_box
{
background:#ffe;
padding:4px 10px;
border:1px solid #aaa;
}

span.warning
{
font-weight:bold;
color:#d00;
}

span.date
{
font-weight:bold;
font-size:85%;
color:#666;
}

span.diskdisabled
{
text-decoration:line-through;
}

span.diskinuse
{
margin-left:20px;
font-style:italic;
}

span.service_running
{
font-weight:bold;
color:green;
}

span.service_stopped
{
font-weight:bold;
color:red;
}

span.minortext
{
font-size:85%;
color:#666;
}

.hidden
{
display:none !important;
}

.red
{
color:red;
}

.green
{
color:green;
}

.blue
{
color:blue;
}

.white
{
color:#fff;
}

.black
{
color:#000;
}

.grey
{
color:grey;
}

.transparent
{
color:transparent;
}

.transparentbg
{
background:transparent;
}

.bold
{
font-weight:bold;
}

.italic
{
font-style:italic;
}

.underline
{
text-decoration:underline;
}

tr.failurerow td
{
background:#f99 !important;
}

img.noborder
{
border:0;
}

table.flattable
{
border-collapse:collapse;
}

table.flattable tr td
{
padding:0;
}

/* navibox */

div.navibox
{
margin:10px 1px;
padding:10px;
color:#444;
font-weight:bold;
font-size:90%;
background:#eee;
background-image: -moz-linear-gradient(100% 100% 90deg, #aaa, #eee);
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#aaa));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#aaaaaa');
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
}

div.navibox span
{
color:grey;
}

div.navibox a, div.navibox a:link, div.navibox a:visited
{
color:#22d;
text-decoration:none;
font-weight:normal;
font-size:125%;
padding:0 4px;
}

div.navibox a:hover
{
color:#222;
}





.buttons_area {
	background:#ccc;
	border-radius:6px;
	overflow:hidden;
	text-align:center;
	margin-top:10px;
	padding:2px;
}