[Unit]
Description=CBSDD daemon
After=network.target network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target
Documentation=https://github.com/cbsd/cbsd, man:cbsd(8)

[Service]
Environment=cbsd_workdir=%%CBSD_WORKDIR%%
Type=simple
ExecStart=/usr/local/cbsd/tools/cbsdd > /dev/null 2>&1
PIDFile=%%CBSD_WORKDIR%%/var/run/cbsdd.pid
Restart=always
RestartSec=10
User=root
Group=root
PrivateTmp=true
TimeoutStopSec=5
KillMode=mixed

#LimitNOFILE=256
#PrivateDevices=true
#MemoryDenyWriteExecute=true
#NoNewPrivileges=true
#ProtectClock=true
#ProtectControlGroups=true
#ProtectHostname=true
#ProtectKernelLogs=true
#ProtectKernelModules=true
#ProtectKernelTunables=true
#ProtectProc=invisible
#RemoveIPC=true
#RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
#RestrictNamespaces=true
#RestrictRealtime=true
#RestrictSUIDSGID=true
#ReadWriteDirectories=-/usr/jails/tmp
#NoExecPaths=/
#ExecPaths=/usr/local/cbsd/tools/cbsdd /usr/lib /lib

[Install]
WantedBy=multi-user.target
