cbsd_password="cbsdpassword"
workdir="/usr/jails"
nodename="node1"
nodeip="192.168.1.2"
nodeip6="fde4:8dba:82e1::1"
jnameserver="9.9.9.9,149.112.112.112,2620:fe::fe,2620:fe::9"
nodeippool="10.0.0.0/24"
nodeip6pool="fde4:8dba:82e1::/64"
nat_enable="1"
natip="192.168.1.2"
fbsdrepo="0"
mdtmp="8"
repo="http://bsdstore.ru"
workdir="/usr/jails"
ipfw_enable="0"
jail_interface="re0"
parallel="5"
stable="0"
statsd_jail_enable="0"
statsd_bhyve_enable="0"
statsd_hoster_enable="0"
