cbsd_password="cbsdpassword"
workdir="/usr/jails"
nodename="node1"
nodeip="192.168.1.2"
jnameserver="8.8.8.8"
nodeippool="10.0.0.0/24"
nat_enable="1"
natip="192.168.1.2"
fbsdrepo="0"
mdtmp="8"
repo="http://bsdstore.ru"
workdir="/usr/jails"
ipfw_enable="0"
jail_interface="re0"
parallel="5"
stable="0"
