
div.service_infopage
{
margin:10px 1px;
padding:20px;
color:#444;
font-weight:bold;
font-size:100%;
text-align:center;
background:#eee;
background-image: -moz-linear-gradient(100% 100% 90deg, #aaa, #eee);
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#aaa));
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
}

div.service_infopage p
{
}

img.service_infopage_img
{
width:800px;
min-height:200px;
border:1px solid #999;
}

img.infopage_progress
{
background:#fff;
padding:4px;
border-radius:8px;
}

table.infopage_sysver
{
text-align:left;
font-weight:normal;
}
