
span.high
{
color:green;
font-weight:bold;
}

table.minipanel-table
{
width:80%;
}

table.minipanel-table tr td
{
color:blue;
background:transparent;
text-align:center;
}

input.sshinput
{
width:150px;
}

