[redis]
enabled=yes
host=127.0.0.1
password=password
port=6379
database=2

[sql:mysqltest]
enabled=yes
type=mysql
host=127.0.0.1
port=3306
user=cbsd_database_user
password=cbsd_database_password
database=cbsd_database_name

[sql:pgsqltest]
enabled=yes
type=pgsql
host=127.0.0.1
user=cbsd_database_user
password=cbsd_database_password
database=cbsd_database_name

