
/* memory graph */

div.memory_graph
{
width:400px;
height:20px;
background:#ccc;
border:1px solid #666;
margin-bottom:10px;
-moz-box-sizing:border-box;
box-sizing:border-box;
overflow:hidden;
}

div.memory_graph div
{
display:inline-block;
overflow:hidden;
text-align:center;
width:1px;
height:20px;
font-size:1.0em;
line-height:1.5em;
vertical-align:middle;
cursor:default;
}

div.memory_application
{
background:#f00;
}

div.memory_inact
{
background:#900;
}

div.memory_cache
{
background:#090;
}

div.memory_buffer
{
background:#00f;
}

div.memory_kernel
{
background:#ff0;
}

div.memory_free
{
background:#aaa;
}

div.memory_unknown
{
background:#888;
}

div.memory_swapused
{
background:#f00;
}

div.memory_swapfree
{
background:#aaa;
}

/* table color cells */

td.memcol_application
{
background:#f00 !important;
}

td.memcol_inact
{
background:#900 !important;
}

td.memcol_cache
{
background:#090 !important;
}

td.memcol_buffer
{
background:#00f !important;
}

td.memcol_kernel
{
background:#ff0 !important;
}

td.memcol_free
{
background:#aaa !important;
}

td.memcol_unknown
{
background:#888 !important;
}

