
div.datasent
{
background:#eeb;
background-image: -moz-linear-gradient(100% 100% 90deg, #ffe, #eeb);
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeb), to(#ffe));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeebb', endColorstr='#ffffee');
border:1px solid #996;
padding:10px 15px;
margin:15px 0;
-moz-box-sizing:border-box;
box-sizing:border-box;
}

div.datasent ul
{
color:#444;
}

div.datasent ul span
{
color:#111;
}

div.datasent pre
{
width:98%;
max-height:250px;
overflow:scroll;
border:1px solid #666;
background:#eeb;
background-image: -moz-linear-gradient(100% 100% 90deg, #bbe, #eef);
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eef), to(#bbe));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeff', endColorstr='#bbbbee');
-moz-box-sizing:border-box;
box-sizing:border-box;
}

