
div.cli_root_box
{
margin:10px 0;
padding:5px 10px;
color:#eee;
background:#a12;
font-weight:bold;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
}

div.cli_root_box input
{
margin-right:10px;
}

