
div.install_progress
{
text-align:center;
padding:6px;
background:#fff;
border-top:2px solid #666;
border-bottom:2px solid #666;
}

div.install_progress p
{
margin:0;
padding:0;
}

pre.install_output
{
color:#333;
}

/* reboot button */

table.dragontable
{
width:100%;
background:white;
text-align:center;
border-top:2px solid #622;
border-bottom:2px solid #622;
}

table.dragontable img
{
padding:0 6px;
}

input.reboot
{
color:#444;
font-size:120%;
font-weight:bold;
text-decoration:none;
padding:6px 10px;
border:2px solid #888;
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
background-image: -moz-linear-gradient(100% 100% 90deg, #aaa, #fff);
color:#dbd;
border:2px solid #341323;
border:2px solid #424;
background-image: -moz-linear-gradient(100% 100% 90deg, #24121b, #b55b8d);
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#aaa));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#aaaaaa');
}

input.reboot:hover
{
cursor: pointer; cursor: hand
color:#344d08;
border:2px solid #444;
background-image: -moz-linear-gradient(100% 100% 90deg, #68ac0b, #e2f55b);
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e2f55b), to(#68ac0b));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2f55b', endColorstr='#68ac0b');

color:#ede;
border:2px solid #422;
background-image: -moz-linear-gradient(100% 100% 90deg, #240313, #b50a68);
}

input.reboot:active
{
color:#f00;
}

