
h1.welcomewiz
{
color:#b22;
color:#f1f1dd;
letter-spacing:1px;
font-size:130%;
padding:6px 15px;
border-radius:10px;
background: -moz-linear-gradient(100% 100% 90deg, #555, #888);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#888), to(#555));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#555555');
}

h1.step
{
color:#900;
}

p.welcome-sidenote
{
background:#ddd;
border:1px dashed #aaa;
padding:6px;
}

div.welcomebuttonbox
{
text-align:center;
}

div.welcomebuttonbox input
{
cursor:pointer;
}

input.welcomecontinue
{
color:#5d8b0e;
color:#43630a;
color:#59850d;
color:#444;
color:#344d08;
font-size:120%;
font-weight:bold;
text-decoration:none;
margin:0 5px;
padding:6px 20px;
border:2px solid #43630a;
border:2px solid #888;
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
background-image: -moz-linear-gradient(100% 100% 90deg, #8c7, #fff);
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#8c7));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#88cc77');
}

input.welcomecontinue:hover
{
color:#344d08;
border:2px solid #344d08;
border:2px solid #444;
background-image: -moz-linear-gradient(100% 100% 90deg, #68ac0b, #e2f55b);
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e2f55b), to(#68ac0b));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2f55b', endColorstr='#68ac0b');
}

input.fullgreen
{
color:#5d8b0e;
color:#43630a;
color:#59850d;
font-size:120%;
font-weight:bold;
text-decoration:none;
margin:0 5px;
padding:6px 20px;
border:2px solid #43630a;
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
background-image: -moz-linear-gradient(100% 100% 90deg, #68ac0b, #e2f55b);
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e2f55b), to(#68ac0b));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2f55b', endColorstr='#68ac0b');
}

input.fullgreen:hover
{
color:#344d08;
border:2px solid #344d08;
border:2px solid #444;
}

input.welcomecontinue:active
{
color:#f00;
}

input.welcomegoback
{
color:#444;
font-size:120%;
font-weight:bold;
text-decoration:none;
padding:6px 10px;
margin:0 5px;
border:2px solid #888;
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
background-image: -moz-linear-gradient(100% 100% 90deg, #aaa, #fff);
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#aaa));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#aaaaaa');
}

input.welcomegoback:hover
{
color:#222;
border:2px solid #444;
}

input.welcomegoback:active
{
color:#f00;
}

/* step 3 */

div.w3_advicebox_stop
{
margin:20px 0;
border:1px solid #986;
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
background:#ffe;
background-image: -moz-linear-gradient(100% 100% 90deg, #dc9, #fee);
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fee), to(#dc9));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeee', endColorstr='#ddcc99');
}

div.w3_advicebox_stop p
{
margin:10px 20px;
}

div.w3_advicebox_continue
{
margin:20px 0;
border:1px solid #696;
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
background:#efe;
background-image: -moz-linear-gradient(100% 100% 90deg, #9d9, #efe);
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#efe), to(#9d9));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeffee', endColorstr='#99dd99');
}

div.w3_advicebox_continue p
{
margin:10px 20px;
}

/* step 4 */

div.datasent
{
background:#eeb;
background-image: -moz-linear-gradient(100% 100% 90deg, #ffe, #eeb);
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeb), to(#ffe));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeebb', endColorstr='#ffffee');
border:1px solid #996;
padding:10px 15px;
margin:15px 0;
-moz-box-sizing:border-box;
box-sizing:border-box;
}

div.datasent ul
{
color:#444;
}

div.datasent ul span
{
color:#111;
}

div.datasent pre
{
width:98%;
max-height:250px;
overflow:scroll;
border:1px solid #666;
background:#eeb;
background-image: -moz-linear-gradient(100% 100% 90deg, #bbe, #eef);
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eef), to(#bbe));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeff', endColorstr='#bbbbee');
-moz-box-sizing:border-box;
box-sizing:border-box;
}

/* step 5 */

div.w5 a, div.w5 a:visited
{
color:#00b;
text-decoration:none;
}

div.w5 a:hover
{
color:#00f;
text-decoration:underline;
}

div.w5_installbuttonbox
{
text-align:center;
padding:6px;
margin-top:30px;
background:#fff;
border-top:2px solid #666;
border-bottom:2px solid #666;
}

div.w5_installbuttonbox input
{
cursor:pointer;
}

